/*发展历程*/
.content_inner{ width:1180px; margin: 0 auto;}

.hist_zan{height:105px;}
.hist_nav{background:#58b047; position: fixed; left:0; top:0; right:0; z-index: 999;}
.hist_nav .a_his_time{position: relative;width:1180px;margin:0 auto;}
.hist_nav .a_his_time>a{display: block;width: 50px;height: 50px;position: absolute;z-index: 9;top:0;background-size:cover;}
.hist_nav .a_his_time>a.his_left{background: url(../images/hist_ico_left.png) no-repeat;left:0px;}
.hist_nav .a_his_time>a.his_right{float:right;background: url(../images/hist_ico_right.png) no-repeat;right: 0px;}
.hist_nav .a_his_time>a.his_left:hover{background: url(../images/hist_ico_leftH.png) no-repeat;}
.hist_nav .a_his_time>a.his_right:hover{float:right;background: url(../images/hist_ico_rightH.png) no-repeat;}
.hist_nav .a_his_time>a.his_left.disabled:hover{cursor: default;background: url(../images/hist_ico_left.png) no-repeat;left:0px;}
.hist_nav .a_his_time>a.his_right.disabled:hover{cursor: default;float:right;background: url(../images/hist_ico_right.png) no-repeat;right: 0px;}

.hist_nav .index_history{margin:0px 50px 0;overflow: hidden;border-left:1px solid #7bc16e;border-right:1px solid #7bc16e;}
.hist_nav .index_history ul{position: relative;height: 105px;overflow: hidden;}
.hist_nav .index_history li{color: #fff;z-index:3;float: left;width: 99px;height:105px;text-align: center;position: relative;cursor:pointer;border-right:1px solid #7bc16e;}
.hist_nav .index_history li a{color:#fff !important;}
.hist_nav .index_history li a>img{width:100%;margin-top:24px;}
.hist_nav .index_history li p{padding-top:15px;transition:all .3s ease-out;-ms-transition:all .3s ease-out;-webkit-transition:all .3s ease-out;}
.hist_nav .index_history li:hover p{font-size: 24px;padding-top:5px;}
.hist_nav .index_history li.active p{font-size: 24px;padding-top:5px;}
.hist_nav .index_history li.active{background:#469137;}

@media only screen and (max-width:1300px) {
    .content_inner{width: 1000px;}
    .hist_nav .a_his_time{width:1003px;}
    .hist_nav .index_history li{width:129px;}
}
@media only screen and (max-width:1010px) {
    .content_inner{width: auto; margin:0 10px;}
    .hist_nav .a_his_time{width:auto;box-sizing:border-box;padding:0 10px;}
    .hist_nav .a_his_time>a.his_left{left:10px;}
    .hist_nav .a_his_time>a.his_left.disabled:hover{left:10px;}
    .hist_nav .a_his_time>a.his_right{right:10px;}
    .hist_nav .a_his_time>a.his_right.disabled:hover{right:10px;}
}
@media only screen and (max-width:767px) {
    .hist_nav .index_history ul{height:82px;}
    .hist_nav .index_history li{width:173px;height:82px;}
    .hist_nav .index_history li a>img{margin-top:2px;}
    .hist_nav .a_his_time>a{width:35px;height:35px;}
    .hist_nav .a_his_time>a.his_right,.hist_nav .a_his_time>a.his_left{background-size:cover;}

    .hist_nav .a_his_time>a.his_left:hover{background-size:cover;}
    .hist_nav .a_his_time>a.his_right:hover{background-size:cover;}
    .hist_nav .a_his_time>a.his_left.disabled:hover{background-size:cover;}
    .hist_nav .a_his_time>a.his_right.disabled:hover{background-size:cover;}
}
@media only screen and (max-width:420px) {
    .hist_nav .index_history li{width:147px;}
}
@media only screen and (max-width:380px) {
    .hist_nav .index_history li{width:127px;}
}
@media only screen and (max-width:340px) {
    .hist_nav .index_history li{width:99px;}
    .hist_nav .index_history li a>img{margin-top:10px;}
}

/*内容*/
.dsj_con{margin-top:30px;position: relative;margin-bottom: 50px;}
.dsj_con .daj_line{/*background:url(../images/his_line.png) repeat-y 4px 115px;*/width:18px;
                   border-right:4px solid #5e5e5e;
    position: absolute;top:0px;bottom: 0px;left: 49%;min-height: 200px;
    z-index: -1;
}
.dsj_con dl{width:40.5%;margin-top:0px;float: right;position:relative;clear: both;}

.dsj_con dl:nth-of-type(2n){margin-top: 0px;margin-right:220px;float: left;}
.dsj_con dl:nth-of-type(2){margin-top: 0px;}
.dsj_con dl:nth-of-type(2n-1){margin-top:0px;clear: both;}
.dsj_con dl:nth-of-type(1){margin-top: 0px;}
.dsj_con dl dt{display:inline-block;width: 120px;height: 24px;
  background:url(../images/his_dian.png) no-repeat 60px 50%;z-index:2;
  margin-right: -12px;
  position:absolute;
  left:-170px;
  top:40%;
}
.dsj_con dl dt:before{content:"";height:1px;width:200px;background:#5e5e5e;position:absolute;left:70px;top:50%;margin-top:-1px;}

.dsj_con dl:nth-of-type(2n) dt{left:auto;right:-163px;background-position: 60px 37%;text-align:right;top:40%;}
.dsj_con dl:nth-of-type(2n) dt:before{left:-137px;margin-top:-3px;}

.dsj_con dl dd{position:relative;z-index:5;margin-bottom: 20px;}
.dsj_con dl dd .d_text{background:#58b047;/*height:141px;*/width:476px;    margin-top: -1px;}
.dsj_con dl dd .d_text h3{color:#fff;font-weight:normal;padding:30px;}

.dsj_con dl dd div.span{display:block;width:476px;
  position: relative;/*height: 0px;padding-bottom: 56%;*/overflow: hidden;
}
.dsj_con dl dd div.span img{width: 100%;}
.dsj_con dl dd div.span p{width:100%;height:65px;line-height:65px;color:#fff;position:absolute;
    bottom:-5px;left:0px;background:rgba(88,176,71,0.7);font-size:18px;text-indent:30px;
}
.dsj_con dl dd div.span p i{font-size:40px;}

.dsj_con dl dd div.err_position{display: inline-block;width:476px;overflow: hidden;
  position: relative;height: 0px;padding-bottom: 56%;}
.dsj_con dl dd div.err_position p{width:100%;height:65px;line-height:65px;color:#fff;position:absolute;
    bottom:0px;left:0px;background:rgba(88,176,71,0.7);font-size:18px;text-indent:30px;
}
.dsj_con dl dd div.err_position p i{font-size:40px;}

@media only screen and (max-width: 1300px){
    .dsj_con .daj_line{left:48%;background-position:4px 114px;}
    .dsj_con dl dd div.span{width:auto;}
    .dsj_con dl dd div.err_position{width:100%;}
    .dsj_con dl dd .d_text{width:auto;}
    .dsj_con dl:nth-of-type(2n){margin-right:190px;}
    .dsj_con dl:nth-of-type(2n) dt{right:-142px;top:50%;}
    .dsj_con dl:nth-of-type(2n-1) dt{left:-167px;top:50%;}
    .dsj_con dl:nth-of-type(2) dt{right:-142px;top:52%;}
    .dsj_con dl:nth-of-type(1) dt{left:-137px;top:52%;}
    
}
@media only screen and (max-width: 1150px) {
    .dsj_con dl{width:40%;}
}
@media only screen and (max-width: 1000px) {
    .dsj_con .daj_line{left:51%;}
    .dsj_con dl{width:37%;}
}
@media only screen and (max-width: 900px) {
    .dsj_con .daj_line{left:47.7%;}
}
@media only screen and (max-width: 767px){
  .dsj_con .daj_line{left:10px;background-position:5px 148px;}
  .dsj_con dl{width:100%;padding-left:23px;box-sizing:border-box;margin-top:50px;}
  .dsj_con dl:nth-of-type(1){margin-top:50px;}
  .dsj_con dl:nth-of-type(2n-1){margin-top:26px;}
  .dsj_con dl:nth-of-type(2n){margin-right:0px;margin-top:26px;}
  .dsj_con dl dt{position:static;background-position:0px 50%;text-indent:30px;}
  .dsj_con dl dt:before{display:none;}
  .dsj_con dl:nth-of-type(2n) dt{text-align:left;background-position:0 50%;}
  .dsj_con dl dd{padding-left:30px;box-sizing:border-box;width:95%;}
  .dsj_con dl dd div.span{width:100%;}

  .dsj_con{margin-top:0;}
  .dsj_con dl dd .d_text{height:auto;padding:20px;box-sizing:border-box;}
  .dsj_con dl dd .d_text h3{padding:0;}
  .dsj_con dl dd div.span p{height:35px;line-height:35px;font-size:14px;text-indent:20px;}
  .dsj_con dl dd div.span p i{font-size:22px;}
}




/*2019-05-08*/
.dowebok_06{overflow: hidden;height: 100%;box-sizing: border-box;/*overflow: auto;*/}
/*#section5{height: inherit !important;}
.hist_nav{top:inherit;}
.fp-viewing-6 #fullpage{}
.fp-viewing-anchor6 .fp-section.fp-table,.fp-viewing-anchor6 .fp-slide.fp-table{position: static;}*/







/*.dowebok_06{overflow: hidden;height: 100%;box-sizing: border-box;overflow: auto;}
.dowebok_06 .mCSB_inside>.mCSB_container{margin-right: 20px !important;}
.hist_zan {position: absolute;top:0;left: 0;width: 100%;}
.hist_nav{position: absolute;width: 100%;}
.n_about_hist {height: 60%;}
.dsj_con {height: 100%;overflow: hidden;}*/



#section5{padding: 40px 0;}
.intro{transform:translate3d(0px, 0px, 0px) scale(1);-ms-transform:translate3d(0px, 0px, 0px) scale(1);-moz-transform:translate3d(0px, 0px, 0px) scale(1);-o-transform:translate3d(0px, 0px, 0px) scale(1); opacity: 1;transition-duration: 0ms;-ms-transition-duration: 0ms; position: static;height: 100vh;}
#section2 .intro{height: auto;min-height: 100vh;}
.hist_nav{position: relative;}
.hiscur .header{display: none;}
.hiscur .hist_nav{position: fixed;}
.hiscur .hist_zan{position: fixed;width: 100%;top:0;left: 0;    z-index: 9;}



#myVideo{display: none;}
.pc_vieo_cont{

    position: absolute;

    right: 0;

    bottom: 0;

    top:0;

    right:0;

    width: 100%;

    height: 100%;

    background-size: 100% 100%;

    background-color: black; /* in case the video doesn't fit the whole page*/

      background-image: /* our video */;

      background-position: center center;

      background-size: contain;

      object-fit: cover; /*cover video background */

      z-index:3;    display: block;

  }



@media only screen and (max-width:767px){
  .about_c li dt{margin-top: 0%;}
  .intro{height: auto;}
  #section5{padding: 20px 0;}
  .dsj_con dl dd div.span{height: auto;padding-bottom: 0;}
  .dsj_con dl dt{margin-bottom: 10px;}
  .hist_nav .a_his_time>a{top:20px;}
/*.hist_zan{display: none;}*/
.pc_vieo_cont{display: none;}

}

#section4 .inwrap{overflow: hidden;}

.about-part2 li{visibility: hidden;}
.about-part2 li.swiper-slide-active,.about-part2 li.swiper-slide-next{visibility: visible;}









